<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.cloud.dao.PaymentDao" >
    <!--填写映射-->

<!--    是否需要返回值，返回的字段-->
<insert id="create" parameterType="com.hj.cloud.entity.Payment" useGeneratedKeys="true" keyProperty="id">
    insert into payment(serial) values (#{serial})
    </insert>


<select id="getPaymentById" resultType="com.hj.cloud.entity.Payment">
    select * from payment where id = #{id}
    </select>
</mapper>
